<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
     <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="Discounts" asp-action="List">МТС</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.Current == "Discounts" ? "active" : "")">
                        <a class="nav-link" asp-controller="Discounts" asp-action="List">Список скидок <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(ViewBag.Current == "Admin" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="List">Администрирование</a>
                    </li>
                    <li class="nav-item @(ViewBag.Current == "About" ? "active" : "")">
                        <a class="nav-link" href="#">О проекте</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Что ищем?" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row panel">
                <div id="categories" class="col-xs-3">
                    Сюда добавим контент позже
                </div>
                <div class="col-xs-8">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Скидки МТС
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
