@model ListViewModel

@{
    ViewData["Title"] = "Список скидок";
}

<h3>Список скидок</h3>
@foreach (var d in @Model.Discounts) {
    <div class="card card-body bg-light m-2">
        <h3>
            @d.Title<span class="badge badge-primary float-right">Добавлено @d.DateAdd</span>
        </h3>
        <span class="lead">@d.Description</span>
        <p>@d.Image</p>
    </div>
}

<partial name="_PageNavigator">